.mdc-card {
    margin: 2%;
}
button {
    margin: 2px;
}

.mat-mdc-card-content {
    min-height: 327px;
}

.client-list-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}